html
    body
        h1  Welcome to add a  product Page
        hr
        h2 Fill the following details
            form(action="/addProduct" method="POST")
                input(type="text" name="productName" placeholder="Product's name")
                br
                input(type="text" name="productId" placeholder="Product's id")
                br
                input(type="text" name="batch" placeholder="Batch date: YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter the batch date in this format YYYY-MM-DD")
                br
                input(type="text" name="expiry" placeholder="Batch date: YYYY-MM-DD" required pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" title="Enter the expiry date in this format YYYY-MM-DD")
                br
                input(type="Submit" value="Submit")
            br
        span #{message}