html
    body
        h1  Welcome to add a  product Page
        hr
        h2 Fill the following details
            form(action="/addProduct" method="POST")
                input(type="text" name="productName" placeholder="Product's name")
                br
                input(type="text" name="productId" placeholder="Product's id")
                br
                input(type="date" name="batch" placeholder="Batch date" title="Enter the batch date")
                br
                input(type="date" name="expiry" placeholder="Expiry date" title="Enter the expiry date")
                br
                input(type="Submit" value="Submit")
            br
        span #{message}