html
    body
        include navbar.html
        h1  Welcome to delete a  Product page
        hr
        h3 List of available products are, click on them for to delete them:
        form(action="/deleteProduct" method="POST")
            select(name="id")
                each product in products
                    option(value=product.id) #{product.name} 
            select(name="delete")
                    option(value="No", selected="true") No
                    option(value="Yes") Yes
            input(type="Submit" value="Submit")